<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<form method="post">

	<div class="row">
		<div class="six columns">
			<label for="uuid">Uuid</label>
			<input class="u-full-width" type="text" name="uuid" placeholder="auto generated" readonly="readonly" value="<%= obj.global.urlParsed.query.uuid %>" />
		</div>
	</div>

	<div class="row">
		<div class="six columns">
			<label for="username">Username</label>
			<input class="u-full-width" type="text" name="username" value="<%= obj.user ? obj.user.username : '' %>" />
		</div>

		<div class="six columns">
			<label for="password">Password</label>
			<input class="u-full-width" type="password" name="password" />
		</div>
	</div>

	<h2>Fields</h2>
	<% if (obj.user) { %>
		<% _.forEach(obj.user.fields, function(fieldValues, fieldName) { %>
			<% if ( ! (fieldValues instanceof Array)) { fieldValues = [fieldValues]; } %>
			<% for (var i = 0; fieldValues[i] !== undefined; i ++) { %>
				<div class="row">
					<div class="six columns">
						<label for="fieldName[]">Field Name</label>
						<input class="u-full-width" type="text" name="fieldName[]" value="<%= fieldName %>" />
					</div>

					<div class="six columns">
						<label for="fieldValue[]">Field Value</label>
						<input class="u-full-width" type="text" name="fieldValue[]" value="<%= fieldValues[i] %>" />
					</div>
				</div>
			<% }; %>
		<% }); %>
	<% }; %>

	<div class="row">
		<div class="six columns">
			<label for="fieldName[]">Field Name</label>
			<input class="u-full-width" type="text" name="fieldName[]" value="" />
		</div>

		<div class="six columns">
			<label for="fieldValue[]">Field Value</label>
			<input class="u-full-width" type="text" name="fieldValue[]" value="" />
		</div>
	</div>

	<div class="controls clearfix">
		<button type="submit" name="save" class="button right inv">Save</button>
		<a class="button left" href="/adminUsers/list">Cancel</a>
		<% if (global.urlParsed.query.uuid) { %>
			<button type="submit" name="rmUser" class="button left warning" value="true">Delete order</button>
		<% } %>
	</div>
</form>
<%= _.render('inc/pageBottom', obj) %>
