<%- include('inc/head', data) %>
<%- include('inc/pageTop', data) %>
<form method="post">
	<table>
		<thead>
			<tr>
				<th>UUID</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<% _.forEach(data.users, function (user) { %>
				<tr>
					<td><a href="/adminUsers/edit?uuid=<%= user.uuid %>"><%= user.uuid %></a></td>
					<td><%= user.username %></td>
				</tr>
			<% }); %>
		</tbody>
	</table>
</form>
<%- include('inc/pagination', data.pagination) %>
<%- include('inc/pageBottom', data) %>
