<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<form method="post">
	<table>
		<thead>
			<tr>
				<th>UUID</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<% _.forEach(obj.users, function(user) { %>
				<tr>
					<td><a href="/adminUsers/edit?uuid=<%= user.uuid %>"><%= user.uuid %></a></td>
					<td><%= user.username %></td>
				</tr>
			<% }); %>
		</tbody>
	</table>
</form>
<%= _.render('inc/pagination', obj.pagination) %>
<%= _.render('inc/pageBottom', obj) %>
